* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 39px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    margin: 22px 0 0 0;
}

span {
    font-weight: 600;
}

h2 {
    font-size: 21px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin: 18px 0 0 0;
}

p {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin: 16px 0 55px 0;
}

.main-text {
    text-align: center;
    width: 30%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
}

.box {
    padding: 10px 25px 30px 35px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    height: 18em;
    width: 25em;
}

.box.supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.box.team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.box.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.box.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.box-text {
    width: 92%;
    font-size: 15px;
}

.box p {
    font-size: 13px;
    margin: 10px 0 10px;
    padding-right: 40px;
}

.box-img {
    display: flex;
    justify-content: right;
    padding: 45px 0 0 0;
}

.box-push {
    transform: translateY(50%);
}

@media (max-width: 1622px) {
    .main-text {
        width: auto;
    }

    .main-text h1 {
        font-size: 34px;
    }
}

@media (max-width: 1230px) {
    .box-push {
        transform: translateY(0);
    }

    .main-text h1 {
        font-size: 28px;
    }
}

@media (max-width: 775px) {
    .main-text h1 {
        font-size: 28px;
    }
}