* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 37px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

span {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

img {
    width: 20%;
}

.main-text {
    text-align: center;
    width: 28%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
}

.supervisor {
    padding: 10px 25px 30px 25px;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 23em;
}

.supervisor-text {
    width: 100%;
    font-size: 13px;
}

.supervisor-img {
    display: flex;
    justify-content: right;
    padding: 15px 0 0 0;
}

.team-builder {
    padding: 10px 25px 30px 25px;
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 23em;
}

.team-builder-text {
    width: 100%;
    font-size: 13px;
}

.team-builder-img {
    display: flex;
    justify-content: right;
    padding: 15px 0 0 0;
}

.karma {
    padding: 10px 25px 30px 25px;
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 23em;
}

.karma-text {
    width: 100%;
    font-size: 13px;
}

.karma-img {
    display: flex;
    justify-content: right;
    padding: 15px 0 0 0;
}

.calculator {
    padding: 10px 25px 30px 25px;
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 23em;
}

.calculator-text {
    width: 100%;
    font-size: 13px;
}

.calculator-img {
    display: flex;
    justify-content: right;
    padding: 15px 0 0 0;
}

.box-push {
    transform: translateY(50%);
}

@media (max-width: 1622px) {
    .main-text {
        width: auto;
    }

    .main-text h1 {
        font-size: 34px;
    }
}

@media (max-width: 775px) {
    .box-push {
        transform: translateY(0);
    }

    .main-text h1 {
        font-size: 28px;
    }
}